
.wrapper {
}
.header {
}
.container {
}
.main {
    flex: 1 1 auto;
    margin-top: 15%;
}

.body-item {
position: relative;
}
.main-body {
    display: flex;
    justify-content: space-around;
}
.body-item {
    width: 25%;
}
.house-img {
    width: 100%;
}
.door {
    position: absolute;
    margin: 48% 40% 10% 39%;
    background-color: aqua;
    width: 20%;
    height: 40%;

}

.footer {
}
